@import 'utils/variables';

.change-password {
    top: 15%;
    .modal-content {
        width: 570px;
        height: 262px;
        .el-form {
            width: 570px;
            height: 262px;
            .modal-header {
                background: #F5F6F8;
                border: none;
                font-size: 16px;
                color: #666666;
                font-weight: 600;
                width: 569px;
                div {
                    font-size: 16px;
                    color: #666666;
                    text-align: center;
                    margin-left: 230px;
                }
            }
        }
        .modal-body {
            position: relative;
            padding: 3px 115px 3px 126px;
            input {
                font-weight: 400;
                border: 0;
                outline: none;
                border-bottom: 1px solid #D9D9D9;
                border-radius: unset;
                width: 264px;
                padding-left: 0px;
            }
            .tips {
                position: absolute;
                top: 4%;
                width: 316px;
                background: #FFEFF0;
                border-radius: 4px;
                font-size: 12px;
                color: #F56C6C;
                height: 26px;
                text-align: center;
                line-height: 26px;
                i {
                    color: #F5222D;
                    margin-right: 6px;
                }
            }

            .form-inputs {
                margin-top: 25px;
                width: 328px;
                .oldPassword {
                    .el-form-item__label {
                        width: 50px;
                        padding: 13px 12px 0px 0;
                    }
                }
                .newPassword {
                    padding-right: 0;
                    position: relative;
                    .el-form-item__label {
                        width: 50px;
                        padding: 15px 12px 0px 0;
                    }
                    .el-form-item__content {
                        margin-left: 50px;
                        width: 266px;
                        .el-input {
                            width: 246px;
                        }
                        input {
                            border-bottom: 1px solid #D9D9D9;
                            padding-bottom: 0;
                            width: 264px;
                        }
                        .img-div {
                            display: inline-block;
                            position: absolute;
                            top: 7%;
                            right: 3%;
                        }
                    }
                }
                .usage-tip {
                    font-size: 12px;
                    color: #CCCCCC;
                    padding-left: 65px;
                    width: 100%;
                }
            }
        }
        .modal-footer {
            border: none;
            text-align: center;
            margin-top: 15px;
            width: 569px;
            padding-bottom: 20px;
            .btn-danger {
                background: #3296FA;
                border-radius: 2px;
                font-size: 16px;
                color: #FFFFFF;
                border: none;
                width: 240px;
                height: 40px;
                text-indent: 6px;
                letter-spacing: 4px;
            }
        }
        .el-form-item {
            margin-bottom: 0px;
            .el-form-item__label {
                font-size: 12px;
                color: #999999;
                font-weight: 400;
            }
        }
    }
    input::placeholder {
        font-size: 12px;
        color: #CCCCCC;
    }

    input::-webkit-input-placeholder {
        font-size: 12px;
        color: #CCCCCC;
    }

    input:-ms-input-placeholder {
        font-size: 12px;
        color: #CCCCCC;
    }

    input:-moz-placeholder {
        font-size: 12px;
        color: #CCCCCC;
    }

    input::-moz-placeholder {
        font-size: 12px;
        color: #CCCCCC;
    }
    hr {
        margin: 0 0 4px 50px;
    }
}

.disNone {
    display: none;
}
