@import 'utils/variables';

.middle_part_reset {
    max-width: 860px;
    padding-top: 16px;
    .work_thing_password {
        float: left;
        width: 429px;
        text-align: center;
        margin-top: 95px;
    }
    .account-alert {
        display: none;
    }
    .account-alert-show {
        width: 240px;
        margin: 0 auto;
        padding: 0 10px;
        display: block;
    }

    .password_find_form {
        float: right;
        width: 429px;
        text-align: center;
        .login_forgot {
            margin-top: 107px;
        }
        .phoneLogoWords {
            margin: 24px auto 33px;
        }
        .login_box {
            width: 356px;
            height: 328px;
            background: #FFFFFF;
            box-shadow: 0 0 6px 0 rgba(207, 207, 207, 0.50);
            border-radius: 6px;
            margin: 0 auto;
            position: relative;
            padding-top: 23px;
            input::-moz-placeholder {
                color: rgba(0, 0, 0, 0.20);
                font-size: 14px;
            }
            input:-moz-placeholder {
                color: rgba(0, 0, 0, 0.20);
                font-size: 14px;
            }
            input::-webkit-input-placeholder {
                color: rgba(0, 0, 0, 0.20);
                font-size: 14px;
            }
                    input:-moz-placeholder {
                color: rgba(0, 0, 0, 0.20);
                font-size: 14px;
            }
                    input:-ms-input-placeholder {
                color: rgba(0, 0, 0, 0.20);
                font-size: 14px;
            }
            .form-group {
                margin-bottom: 4px;
            }
            hr {
                background: #EFEFEF;
                border-radius: 1px;
                margin: 0 58px 0 58px;
            }
            .show-message-is {
                position: absolute;
                top: 3%;
                right: 16%;
                background: #FFEFF0;
                border-radius: 4px;
                width: 240px;
                font-size: 12px;
                color: #F56C6C;
                .ant-alert{
                    padding: 4px;
                }
            }
            .show-message-not {
                opacity: 0;
                position: absolute;
            }
            .input-username, .input-verify-code .input-password-open, .input-password-close {
                width: 240px;
                margin: 0 58px 0 58px;
                border: 0;
                background: #fff;
                border: none;
                outline: none;
                box-shadow: none;
                padding: 6px 18px;
            }
            .input-username {
                margin-top: 10px;
                background: url("../../images/ithpower/login/phone.png") left no-repeat;
            }
            .input-password {
                border: 0;
                background: #fff;
                border: none;
                outline: none;
                box-shadow: none;
                padding: 6px 10px 6px 18px;
                width: 221px;
                margin: 0;
                display: inline-block;
                font-size: 14px;
                background: url("../../images/ithpower/login/lock.png") left no-repeat;
            }

            .input-verify-code {
                padding-right: 0;
                input {
                    background: url("../../images/ithpower/login/key.png") left no-repeat;
                    border: none;
                    outline: none;
                    width: 165px;
                    box-shadow: none;
                    display: inline;
                    padding-left: 19px;
                }
                .btn-send-sms {
                    margin: 0;
                    background: #F5F6F8;
                    border: 0 solid #E3E3E4;
                    border-radius: 2px;
                    width: 72px;
                    height: 21px;

                    font-size: 12px;
                    color: #333333;
                    padding: 2px 6px;
                    font-weight: 500;
                    outline: none;
                }
            }
            .btn-submit {
                background: #F5F6F8;
                border: 0 solid #E7E7E9;
                border-radius: 2px;

                font-size: 16px;
                color: #666666;
                width: 240px;
                height: 40px;
                font-weight: 500;
                pointer-events: none;
            }
            .btn-submit-ok {
                border: 0 solid #E7E7E9;
                border-radius: 2px;

                font-size: 16px;
                width: 240px;
                height: 40px;
                background: #3296FA;
                color: #ffffff;
            }
            .tips-mes {
                height: 34px;

                font-size: 12px;
                color: #999999;
                margin: 0 58px 30px 58px;
                width: 240px;
                text-align: left;
                div:nth-child(1) {
                    display: inline-block;
                    vertical-align: top;
                }
                div:nth-child(2) {
                    width: 212px;
                    height: 34px;
                    display: inline-block;
                    text-align: left;
                }
            }
        }
    }

    .heaven-eye {
        display: inline-block;
        height: 100%;
        cursor: pointer;
    }
    .css-ban-click {
        cursor: not-allowed;
    }
}
