@import 'utils/variables';


.btn-send-sms {
    margin: 0;
    background: #F5F6F8;
    border: 0 solid #E3E3E4;
    border-radius: 2px;
    width: 72px;
    height: 21px;

    font-size: 12px;
    color: #333333;
    padding: 2px 6px;
    font-weight: 500;
    outline: none;
}
